body {
    background-color: rgb(176, 154, 123);
}

h1 {
    color: rgb(72, 49, 27);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: max(2vw, 4vw);
    /* viewport width */
    margin: 0 auto;
}

footer{
    color:rgb(98, 61, 30);
}

.row {
    display: flex;
    justify-content: center;
}

.seasonFigure {
    text-align:
        center;
    width: 40%
}

.seasonImage {
    border: 1px solid yellow;
    width: 100%;
    height: auto;
}

#spring {
    border-top-left-radius: 25px;
}

#summer {
    border-top-right-radius: 25px;
}

#fall {
    border-bottom-left-radius: 25px;
}

#winter {
    border-bottom-right-radius: 25px;
}

.seasonTitles {
    color: rgb(167, 134, 84);
    font-size: max(2vw, 4vw);
}

.space {
    margin-right: 10px;
    color :rgb(110, 57, 39);
}
  .square {
    place-items: center;
    width: 20%;                /* Adjust percentage for size */
    aspect-ratio: 6 / 1;       /* Keeps it perfectly square */
    background-color: #c5c193; /* Example background */
    display: flex;             /* Center text horizontally & vertically */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;   
  }